<div id="fos_comment_thread" data-thread="foo">
	<div class="fos_comment_comment_form_holder">
		<h3>Add New Comment</h3>
		<form class="fos_comment_comment_new_form" method="POST" name="comment-root-form" ng-show="form">
			<fieldset>
				<div class="form-group">

					<textarea id="fos_comment_comment_body" name="fos_comment_comment[body]" required="required" class="form-control" ng-model="commentBody"></textarea>

					<div class="fos_comment_submit">
						<input type="submit" class="btn btn-primary" ng-click="functions.comment()">
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div>
		<h3>{{ comment.length }} comments</h3>
		<div id="fos_comment_4" class="fos_comment_comment_show" ng-repeat="comment in comments">
			<div class="fos_comment_comment_metas">
				By                
				<span class="fos_comment_comment_authorname">{{ comment.comment.author.username || 'Anonymous' }}</span> - <span am-time-ago="comment.comment.created_at"></span>
			</div>
			<div class="fos_comment_comment_body">
				{{ comment.comment.body }}
			</div>
			<div class="btn-toolbar">
				<button class="btn btn-primary btn-small">Reply</button>
			</div>
		</div>
	</div>
</div>