
<div class="well">
	<div class="fos_comment_comment_form_holder">
		<form class="fos_comment_comment_new_form" method="POST" name="comment-root-form" ng-show="form && user.authenticated">
			<fieldset>
				<legend>New comment</legend>
				<div class="form-group">

					<textarea id="fos_comment_comment_body" name="fos_comment_comment[body]" required="required" class="form-control" ng-model="commentBody"></textarea>

					<div class="fos_comment_submit">
						<input type="submit" class="btn btn-primary" ng-click="functions.comment()">
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<ng-pluralize count="comments.length"
	when="{'0': 'No comments. Be the first!',
	'one': '1 comment',
	'other': '{} comments'}">
	</ng-pluralize>

	<div ng-repeat="comment in comments" ng-include="'/partials/comment.html'">
	
	</div>
</div>
