{% trans_default_domain 'FOSUserBundle' %}

<div modal="registerShouldBeOpen" close="registerShouldBeOpen = false" options="options">
    <form method="post" id="login-form" class="nomargin">
        <div class="modal-body">
			<div class="control-group">
				<label class="control-label">{{ form_label(form.username) }}</label>
				<div class="controls">
					{{ form_widget(form.username) }}
				</div>
			</div>
		</div>
    </form>
</div>
