<!DOCTYPE html>
<html lang="en" ng-app="podcatcher">
    <head>
        <title>Home |Virgin</title>
        {% stylesheets filter="lessphp,cssrewrite"

            'bundles/podcastmain/bootstrap/less/bootstrap.less'
            'bundles/podcastmain/bootstrap/less/responsive.less'
            'bundles/podcastmain/font-awesome/build/assets/font-awesome/less/font-awesome.less'
            'bundles/podcastmain/internal/aro/library/css/styles.css'
            '@PodcastMainBundle/Resources/public/internal/less/style.less'

            'bundles/podcastmain/select2/select2.css'

            'bundles/podcastmain/internal/less/fonts.less'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <!-- Part 1: Wrap all page content here -->
        <div id="wrap">

            <!-- Fixed navbar -->
            <div class="navbar navbar-orange navbar-fixed-top">
                <div class="navbar-inner">
                    <p class="brand">
                        <i class="icon-headphones icon-large" style="position: absolute; top: 7px;"></i>
                    </p>
                    <ul class="nav pull-right">
                        <li><a href="#"><i class="icon-star icon-large"></i></a></li>
                        <li class="divider-vertical"></li>
                        <li ng-controller="LoginFormCtrl">
                            <a ng-click="open()"><i class="icon-user icon-large"></i></a>
                            {% render "PodcastUserBundle:Security:login" %}
                        </li>
                        <li><a href="#"><i class="icon-cog icon-large"></i></a></li>
                    </ul>
                </div>
            </div>

            <div ng-view>


            </div>
            <!-- fos_js_routing -->
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <!-- /fos_js_routing -->
            {% javascripts
                '@PodcastMainBundle/Resources/public/jquery/jquery.js'
                '@PodcastMainBundle/Resources/public/angular/angular.js'

                '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-transition.js'
                '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-dropdown.js'
                '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-button.js'
                '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-typeahead.js'
                '@PodcastMainBundle/Resources/public/bootstrap/js/bootstrap-tooltip.js'

                '@PodcastMainBundle/Resources/public/select2/select2.js'
                '@PodcastMainBundle/Resources/public/angular-ui-select2/src/select2.js'

                '@PodcastMainBundle/Resources/public/angular-bootstrap/ui-bootstrap.js'
                '@PodcastMainBundle/Resources/public/angular-bootstrap/ui-bootstrap-tpls.js'
                '@PodcastMainBundle/Resources/public/angular-resource/angular-resource.js'

                '@PodcastMainBundle/Resources/public/isotope/jquery.isotope.js'

                '@PodcastMainBundle/Resources/public/internal/podcatcher/js/app.js'
                '@PodcastMainBundle/Resources/public/internal/podcatcher/js/controllers.js'
                '@PodcastMainBundle/Resources/public/internal/podcatcher/js/filters.js'
                '@PodcastMainBundle/Resources/public/internal/podcatcher/js/directives.js'
                '@PodcastMainBundle/Resources/public/internal/podcatcher/js/services.js'

            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}  
    </body>
</html>