<div class="container-fluid" style="padding-top:30px;">
    <div class="row-fluid">
        <div class="span4">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4><i class="icon-refresh"></i> Latest episodes</h4>
                </div>
                <div class="widget-content">
                    <table class="table">
                        <tr ng-repeat="episode in latestEpisodes">
                            <td>
                                {{ episode.name }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="span4">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4><i class="icon-heart"></i> Subscriptions</h4>
                </div>
                <div class="widget-content">
                    <table class="table">
                        <tr ng-repeat="podcast in user.subscriptions">
                            <td>
                                {{ podcast.name }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="span4 episode-calendar pagination-centered">

            <div class="btn-group" style="margin-bottom: 10px;" ng-init="type = 'all-podcasts'">
                <button type="button" class="btn btn-warning" ng-model="type" btn-radio="'all-podcasts'">All podcasts</button>
                <button type="button" class="btn btn-warning" ng-model="type" btn-radio="'subscribed'">Subscribed</button>
            </div>

            <datepicker ng-model="pubDate" show-weeks="false" starting-day="1" date-disabled="disabled(date, mode)" max="maxDate"></datepicker>
            <table class="table table-condensed">
                <tbody>
                    <tr ng-repeat="episode in episodes">
                        <td><a ng-click="user.listen(episode)"><span class="label label-warning" ng-show="user.episodes.indexOf(episode.id) == -1">New</span> <i class="icon-heart" ng-show="isSubscribed(episode)"></i> {{ episode.name }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>