{% extends 'PodcastMainBundle::layout.html.twig' %}

{% block fos_user_content %}
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-user"></i>
                </span>
                <h5>Register</h5>
            </div>
            <div class="widget-content">
                {% include "PodcastMainBundle:Registration:register_content.html.twig" %}
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
