<section class="subhead">
    <section class="row subhead-inner">
        <div class="span12" id="main-content">
        </div>
    </section>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 class="hBig">{{ podcast.name }}
                    <small>Episodes</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 blogContent">
                <div class="spinner" ng-show="loadingEpisodes"></div>
                <div class="row blogPost" ng-repeat="episode in podcast.episodes">

                    <div class="title">
                        <blockquote>
                            <a ng-click="user.listen(episode)">
                                {{ episode.name }}&nbsp;&nbsp;
                                <span class="label label-warning" ng-show="user.episodes.indexOf(episode.id) == -1">New</span>
                            </a>

                            <small> {{ episode.pub_date }} | {{ episode.length }} </small>
                        </blockquote>
                    </div>

                    <div class="blogContent">

                        <p style="clear:both;" ng-bind-html-unsafe="episode.description">
                        </p>
                        <p>
                            <a href="#" data-bind="attr: { href: link }, text: link"></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 blogSide">
                <div class="spinner" ng-show="loadingPodcast"></div>
                <div class="btn-toolbar">
                    <button class="btn btn-warning" ng-click="user.subscribe(podcast)"><i ng-class="{ 'icon-heart': user.isSubscribed(podcast), 'icon-heart-empty': !user.isSubscribed(podcast) }"></i></button>
                </div>
                <div>
                    <img ng-src="{{ podcast.image }}">
                </div>
                <hr>
                <p>{{ podcast.description }}</p>
                <hr>
                <div class="tags">
                    <h6>Categories</h6>

                    <ul class="unstyled">
                        <li ng-repeat="category in podcast.categories">
                            <a>{{ category.name }}</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <pagination boundary-links="true" num-pages="noOfPages" current-page="currentPage" max-size="maxSize" class="pagination-centered"></pagination>
            </div>
        </div>
    </div>
</div>