<div class="container">
    <div class="row get-podcast-panel">
        <div class="col-3">
            <h1 class="hBig">{{ podcast.name }}
                <small>Episodes</small>
            </h1>
        </div>
        <div class="col-lg-5">
            <ul class="nav nav-pills nav-horizontal">
                <li class="active"><a href="#">Episodes</a></li>
                <li><a href="#">Comments</a></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="btn-group pull-right">
                <button class="btn btn-primary"><i class="icon-copy"></i></button>
                <button class="btn btn-primary"><i class="icon-share"></i></button>
                <button class="btn btn-primary"><i class="icon-facebook"></i></button>
                <button class="btn btn-primary"><i class="icon-twitter"></i></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 podcast-info">
            <div class="spinner" ng-show="loadingPodcast"></div>

            <img class="img-rounded visible-lg" ng-src="{{ podcast.image }}">

            <button class="btn btn-primary btn-block" ng-click="user.subscribe(podcast)">
                <i ng-class="{ 'icon-heart': user.isSubscribed(podcast), 'icon-heart-empty': !user.isSubscribed(podcast) }"></i> Subscribe
            </button>
            <div class="labels well well-small">
                <div class="label" ng-repeat="category in podcast.categories" class="label">
                    {{ category.name }}
                </div>
            </div>
            <p class="lead">{{ podcast.description }}</p>
        </div>
        <div class="col-lg-9" style="padding: 20px;">
            <div class="spinner" ng-show="loadingEpisodes"></div>
            <div class="row episode-listing" ng-repeat="episode in podcast.episodes">

                <div class="title">
                    <blockquote>
                        <p class="lead">
                            <a ng-click="user.listen(episode)">
                                {{ episode.name }}&nbsp;&nbsp;
                                <span class="label" ng-show="user.episodes.indexOf(episode.id) == -1">New</span>
                            </a>
                        </p>
                        <small> <span am-time-ago="episode.pub_date"></span></small>
                    </blockquote>
                </div>


                    <p style="clear:both;" ng-bind-html-unsafe="episode.description"></p>

                    <p>
                        <a href="#" class="episode-link" data-bind="attr: { href: link }, text: link"></a>
                    </p>



                    <div class="btn-toolbar">
                        <button class="btn btn-small" ng-click="episode.comments = true" ng-class="{ active: (episodes.comments === true) }">Comments</button>
                    </div>

                    <div comments thread="episode.id" ng-if="episode.comments"></div>

            </div>
        </div>

    </div>


   <!--  <div class="row">
        <div class="col-lg-12">
            <pagination boundary-links="true" num-pages="noOfPages" current-page="currentPage" max-size="maxSize" class="pagination-centered"></pagination>
        </div>
    </div> -->
</div>
</div>