<div class="container">
    <div class="row">
            <div class="jumbotron">
                <h1>Featured podcast</h1>
            </div>
    </div>
</div>
<div class="get-podcasts-container">
    <ul class="nav nav-tabs podcast-order">
        <li><span>Order by </span> </li>
        <li ng-repeat="sort in sorts" ng-class="{ active: sort.name == currentSort.name }"><a ng-click="setSort(sort)">{{ sort.name }}</a></li>
        <li ng-repeat="category in categories | orderBy: 'name':reverse" class="pull-right"><a>{{ category.name }}</a></li>
        <li class="pull-right"><span>Filter </span></li>
    </ul>
    <div class="spinner" ng-show="loading"></div>
    <ul class="cbp-rfgrid">
        <li ng-repeat="podcast in podcasts | orderBy: podcast.name"><a href="#"><img ng-src="{{podcast.image}}"/><div><h3>{{ episode.name }}</h3></div></a></li>
    </ul>
</div>