{% extends 'PodcastMainBundle::layout.html.twig' %}

{% block title %}Podcast Tool{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span2 sideBar">
        <ul>
            <li data-link="home"><figure><i class='icon-home'></i> <div class='menuText'>Home</div></figure></li>
            <li data-link="directory" class="active"><figure><i class="icon-th-large"></i> <div class="menuText">Directory</div></figure></li>
        </ul>
    </div>
    <div class="span10 content borBox">

        <div class='row-fluid' data-bind="with: AppKernel.PodcastFinder">
            <div class="span8">
                <div class='page-header'>
                    <h2 class='hBig'>Organization
                        <small class="pull-right">Clear</small>
                    </h2>
                </div>
                <ul class="nav nav-stacked nav-pills" data-bind="foreach: organizations">
                    <li><a href="/podcasts/radio1" data-bind="text: name"></a></li>
                </ul>
            </div>
            <div class="span4">
                <div class='page-header'>
                    <h2 class='hBig'>Category
                        <small class="pull-right">Clear</small>

                    </h2>
                </div>       
                <ul class="nav nav-stacked nav-pills" data-bind="foreach: categories">
                      <li><a href="/podcasts/radio1" data-bind="text: name"></a></li>

                </ul>
            </div>
        </div>

        <div class='page-header'>
            <h1 class='hBig'>Podcasts
            </h1>
        </div>

        <div class='row-fluid gallery photo'>
            <figure class='tile'>
                <img src="http://ichef.bbci.co.uk/podcasts/artwork/160/aled.jpg" alt="">
                <div class='hoverImg'><h3>Preview</h3></div>
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                </div>
            </figure>
            <figure class='tile'>
                <img src="img/placeholder2.jpg" alt=""/>
                <div class='hoverImg'><h3>Preview</h3></div>
            </figure>
            <figure class='tile'>
                <img src="img/placeholder2.jpg" alt=""/>
                <div class='hoverImg'><h3>Preview</h3></div>
            </figure>
            <figure class='tile'>
                <img src="img/placeholder2.jpg" alt=""/>
                <div class='hoverImg'><h3>Preview</h3></div>
            </figure>
            <figure class='tile'>
                <img src="img/placeholder2.jpg" alt=""/>
                <div class='hoverImg'><h3>Preview</h3></div>
            </figure>
            <figure class='tile'>
                <img src="img/placeholder2.jpg" alt=""/>
                <div class='hoverImg'><h3>Preview</h3></div>
            </figure>
            <figure class='tile'>
                <img src="img/placeholder2.jpg" alt=""/>
                <div class='hoverImg'><h3>Preview</h3></div>
            </figure>
            <figure class='tile'>
                <img src="img/placeholder2.jpg" alt=""/>
                <div class='hoverImg'><h3>Preview</h3></div>
            </figure>
            <figure class='tile'>
                <img src="img/placeholder2.jpg" alt=""/>
                <div class='hoverImg'><h3>Preview</h3></div>
            </figure>
            <figure class='tile'>
                <img src="img/placeholder2.jpg" alt=""/>
                <div class='hoverImg'><h3>Preview</h3></div>
            </figure>
            <figure class='tile'>
                <img src="img/placeholder2.jpg" alt=""/>
                <div class='hoverImg'><h3>Preview</h3></div>
            </figure>

            <p>Nothing here {% raw %}{{'yet' + '!'}}{% endraw %}</p>




        </div>

    </div>
</div>

{% endblock %}