{% extends 'PodcastMainBundle::layout.html.twig' %}

{% block title %}Podcast Tool{% endblock %}

{% block content_header %}
<div id="content-header">
    <!-- ko with: podcast -->
        <h1 data-bind="text: name()"></h1>
    <!-- /ko -->
    <!-- ko ifnot: podcast -->
        <h1>Dashboard</h1>
    <!-- /ko -->

    <div class="btn-group" style="width: auto;" data-bind="with: podcast">
        <a class="btn btn-large" data-bind="css: { disabled: !user.authenticated(), active: subscribed }, click: subscribe"><i data-bind="css: { 'icon-star-empty': subscribed() == false, 'icon-star': subscribed() == true }"></i></a>
        <a class="btn btn-large tip-bottom" data-original-title="Manage Files"><i class="icon-file"></i></a>
        <a class="btn btn-large tip-bottom" data-original-title="Manage Users"><i class="icon-user"></i></a>
        <a class="btn btn-large tip-bottom" data-original-title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
        <a class="btn btn-large tip-bottom" data-original-title="Manage Orders"><i class="icon-shopping-cart"></i></a>
    </div>
</div>
<div id="breadcrumb">
    <a class="tip-bottom" href="#" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
    <a class="current" href="#">Dashboard</a>
</div>
{% endblock %}

{% block content %}


{% endblock %}
{#
{% block javascripts %}
    {{ parent() }}
        {% javascripts

            '@PodcastMainBundle/Resources/public/knockout/build/output/knockout-latest.js'

            '@PodcastMainBundle/Resources/public/knockout-mapping/knockout.mapping.js'

            '@PodcastMainBundle/Resources/public/sammy/lib/sammy.js'

            '@PodcastMainBundle/Resources/public/select2/select2.js'

            '@PodcastMainBundle/Resources/public/datatables/media/js/jquery.dataTables.js'

            '@PodcastMainBundle/Resources/public/soundmanager/script/soundmanager2.js'

            '@PodcastMainBundle/Resources/public/datejs/build/date-en-GB.js'

            '@PodcastMainBundle/Resources/public/Knockout.Extensions/Javascript/src/cog.js'
            '@PodcastMainBundle/Resources/public/Knockout.Extensions/Javascript/src/cog.utils.js'
            '@PodcastMainBundle/Resources/public/Knockout.Extensions/Javascript/src/knockout.bindings.dataTables.js'            
            '@PodcastMainBundle/Resources/public/internal/js/PodcatcherViewModel.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
{% endblock %}
#}