{% extends 'PodcastMainBundle::layout.html.twig' %}

{% block title %}Podcast Tool{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span2 sideBar">
        <ul>
            <li data-link="home"><figure><i class='icon-home'></i> <div class='menuText'>Home</div></figure></li>
            <li data-link="directory" class="active"><figure><i class="icon-th-large"></i> <div class="menuText">Directory</div></figure></li>
        </ul>
    </div>
    <div class="span10 content borBox">
        
        <div data-bind="template: { name: 'view-podcast-finder', data: AppKernel.PodcastFinder, ifnot: AppKernel.PodcastFinder.podcast }"></div>
        <div data-bind="template: { name: 'view-podcast', data: AppKernel.PodcastFinder.podcast, if: AppKernel.PodcastFinder.podcast }"></div>
        
    <script type="text/html" id="view-podcast-finder">
        <div class='row-fluid'>
            <div class="span8">
                <div class='page-header'>
                    <h2 class='hBig'>Organization
                        <small class="pull-right" style="cursor: pointer" data-bind="click: clearOrganizations">Clear</small>
                    </h2>
                </div>
                <ul class="nav nav-stacked nav-pills" data-bind="foreach: organizations" style="height: 200px; overflow: auto; padding: 5px;">
                    <li data-bind="css: { active: selected }"><a href="#" data-bind="text: name, click: $parent.toggleItem, attr: { href: link() }"></a></li>
                </ul>
            </div>
            <div class="span4">
                <div class='page-header'>
                    <h2 class='hBig'>Category
                        <small class="pull-right" style="cursor: pointer" data-bind="click: clearCategories">Clear</small>
                    </h2>
                </div>       
                <ul class="nav nav-stacked nav-pills" data-bind="foreach: categories" style="height: 200px; overflow: auto; padding: 5px;">
                      <li data-bind="css: { active: selected }"><a href="#" data-bind="text: name, click: $parent.toggleItem, attr: { href: link() }"></a></li>
                </ul>
            </div>
        </div>

        <div class='page-header'>
            <h1 class='hBig'>Podcasts
            </h1>
        </div>

        <div class='row-fluid gallery photo' data-bind="foreach: podcasts">
            <figure class='tile'>
                <a data-bind="attr: { href: link() }, click: $parent.podcast">
                    <img data-bind="attr: { alt: name, src: image }">
                </a>
            </figure>
        </div>
         
        <div class="row-fluid">
            <div class="span12">
                <div class="pagination pagination-centered" data-bind="with: pagination">
                    <ul data-bind="foreach: ko.utils.range(1, maxPageIndex)">
                        <li data-bind="css: { active: ($data) == $parent.page() }">
                            <a href="#" data-bind="text: $data, attr: { href: $parent.getLinkForPage($data) }, click: $parent.page"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </script>
        <script type="text/html" id="view-podcast">
            <div class="page-header">
                <h1 class="hBig">Rhod Gilbert's Best Bits 
                    <small>Episodes</small>
                </h1>
 

            </div>

           
                <div class="row-fluid">
                    <div class="span8 blogContent">
                        <div class="row-fluid blogPost">
                            <div class="title">
                                <blockquote>
                                    <p>Rhod: The Royal Eyebrow 27 April 2013</p>
                                    <small>BBC Radio Wales | 27 Apr 2013 | 18:57 | 27:46</small>
                                </blockquote>
                            </div>
                            <div class="blogContent">

                                <p>
                                    Rhod's vexed by the lamentable fashion in ladies' eyebrows, where they are plucked beyond recognition. The trend's even reached the Royal household. And Lloyd's after alternative suggestions to Winston Churchill for the back of the new five pound note; would a paintball fight between Bob Holness and Pat Sharp fit the (literal) bill?
                                </p>
                                <p>
                                    <a href="#">http://downloads.bbc.co.uk/podcasts/wales/rhod/rhod_20130427-1857.mp3k</a>
                                </p>
                            </div>

                        </div>
                        <div class="row-fluid blogPost">
                            <div class="title">
                                <blockquote>
                                    <p>Rhod: You Can Leave Your Hat On 20 April 2013</p>
                                    <small>BBC Radio Wales | 20 Apr 2013 | 18:57 | 26:40</small>
                                </blockquote>
                            </div>
                            <div class="blogContent">

                                <p>
                                    Rhod and co-host Lloyd Langford brought a nostalgic tint to the show today, celebrate the 30th anniversary of the pound coin. And Rhod’s Stetson made an appearance once again, will he every take it off? Rhod says no, using the Tom Jones hit "You Can Leave Your Hat On" to back up his argument.                                </p>
                                <p>
                                    <a href="#">http://downloads.bbc.co.uk/podcasts/wales/rhod/rhod_20130420-1100a.mp3</a>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="span4 blogSide">

                            <div>
                                <img src="http://www.bbc.co.uk/podcasts/assets/artwork/rhod.jpg" style="width:100%; height: auto; border: 1px solid #D2D2D2">
                            </div>


                        <div class="archive">
                            <h6>Archive</h6>
                            <ul class="unstyled">
                                <li><a href="#">May 2012 (12)</a></li>
                                <li><a href="#">April 2012 (4)</a></li>
                                <li><a href="#">March 2012 (6)</a></li>
                                <li><a href="#">Feb 2012 (2)</a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="tags">
                            <h6>Tags</h6>
                            <ul class="unstyled">
                                <li>Development</li>
                                <li>Technology</li>
                                <li>Media</li>
                                <li>Latest</li>
                                <li>Programming</li>
                                <li>Cooking</li>
                                <li>Architecture</li>
                                <li>News</li>
                                <li>Music</li>
                                <li>Programming</li>
                                <li>Cooking</li>
                                <li>Architecture</li>
                                <li>News</li>
                                <li>Music</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </script>
        </div>
    </div>

{% endblock %}