{% extends 'PodcastMainBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header  %}
<div id="content-header">
    <h1>Add Podcast</h1>
</div>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <form action="" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_widget(form) }}
            <div class="form-actions">
                <button class="btn" type="submit">Add Podcast</button>
            </div>
        </form>
    </div>
{% endblock %}
