
<div class='row-fluid gallery photo' data-bind="foreach: podcasts" id="thumbview">
    <figure class='tile'>
        <a data-bind="attr: { href: Routing.generate('get_podcast', { slug: slug }) }">
            <img data-bind="attr: { alt: name, src: image }">
        </a>
    </figure>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="pagination pagination-centered">
            <ul>
                <li data-bind="with: 1, css: { active: pagination.page() == 1 }">
                    <a href='#' data-bind="click: $parent.pagination.page, attr: { href: $parent.getLinkForPage(1) }">&laquo;</a>
                </li>
                <!-- ko foreach: ko.utils.range(pagination.displayFirstPage, pagination.displayLastPage) -->
                <li data-bind="css: { active: $data == $parent.pagination.page() }">
                    <a href="#" data-bind="text: $data, attr: { href: $parent.getLinkForPage($data) }, click: $parent.pagination.page"></a>
                </li>
                <!-- /ko -->
                <li data-bind="with: pagination.maxPageIndex, css: { active: pagination.page() == pagination.maxPageIndex() }">
                    <a href='#' data-bind="click: $parent.pagination.page, attr: { href: $parent.getLinkForPage(1) }">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>